body {
  margin: 0 auto;
  background: #8b93af94;
  font-family: cursive;
}

header h1 {
  color: #50c32a;
  font-weight: 200;
  font-family: cursive;
}

input {
  font-size: 20px;
  color: #39af4d;
  border: none;
  outline: none;
  border-radius: 15px;
  border: 1px solid #2c3e50;
  padding: 5px;
}

.task {
  background-color: #1662af;
  padding: 15px;
  margin: 15px;
  overflow-x: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.task span {
  color: #FFFFFF;
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #6c6777;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 5px;
  margin-top: 15px;
  font-family: cursive;
  background-color: lawngreen;
}

.button.selected {
  color: #FFF;
  background-color: #4b21a7;
  font-family: cursive;
}

.button.clear {
  float: right;
  color: #FFF;
  background-color: #ee1630;
  width: 200px;
}

.divider {
  width: 50%;
  margin: 0 auto;
  background-color: 'yellow';
  border: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #c7b4b4;
  margin-top: 15px;
}